<div id="image-holder">
    <div class="slider">
        <div class="nav-menu">
            <h1>Daniel Tyson</h1>
            <h3>Section</h3>
            <h3>Section</h3>
            <h3>Section</h3>
        </div>

        <img src="images/image-1.jpg" class="background content-blurred" alt="">
        <!-- <img ng-repeat="slide in imageSliderCtrl.slides" class="slide slide-animation" ng-src="{{slide.image}}" id="{{$index}}" ng-if="imageSliderCtrl.isCurrentIndex($index)"/> -->
    </div>
</div>
