<section class="" id="hero" ng-controller="MainCtrl as main">

  <div id="hero-text">
    <h1>Daniel </h1>
    <h1><span class="tys">Tys</span>on</h1>
    <h6>A rock climbing, photo shooting, web developer</h6>
    <h3>
      <a target="_blank" href="https://github.com/tys1019"><span class="fa fa-github-square"></span></a>
      <a target="_blank" href="https://www.linkedin.com/in/danielctyson"><span class="fa fa-linkedin-square"></span></a>
      <a href="javascript:void(0)" class="modal-trigger" ng-click="main.openModal()"><span class="fa fa-envelope-square"></span></a>
      <a target="_blank" href="https://www.flickr.com/photos/tys1019/"><span class="fa fa-flickr"></span></a>
    </h3>
  </div>




</section>

<section id="about-me">
  <p>Hi, my name is Daniel Tyson, but everyone calls me Tys. I am Boston born and a rambler at heart. After graduating from Emory University, I spent 3 years travelling and teaching abroad in <a target="_blank" href="http://goo.gl/o1Oicz">Spain</a>, and then teaching <a target="_blank" href="http://tys1019.github.io/whatshouldi_front/#/tv/2949">physics</a> back here.  Now, I'm a full-stack web developer, always on the lookout for something new to learn and make.  Check out my projects and let me know what you think! </p>
</section>

<section id="projects">
    <div class="row">
        <div class="card-container">
          <div class="card large">
            <div class="card-image">
              <a href="http://tys1019.github.io/whatshouldi_front/#/" target="_blank">
                <img src="images/whatshouldi.png">
              </a>
            </div>
            <div class="card-content">
              <p>"what should i..." gives you recommendations of what to watch, where to find it, and gives you information about it too. Built using AngularJS and a Rails API back end. </p>
            </div>
            <div class="card-action">
              <a href="http://tys1019.github.io/whatshouldi_front/#/" target="_blank">View Project</a>
              <a href="https://github.com/tys1019/whatshouldi_front">Github</a>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card large">
            <div class="card-image">
              <a href="http://tys1019.github.io/bobs_burger_app/" target="_blank">
                <img src="images/bobsburgers.png">
              </a>
            </div>
            <div class="card-content">
              <p>Hungry? Order burgers from a fully functional e-commerce site.  Built using Rails, Javascript and using the Stripe API for purhcases.  Use card 4242424242424242 to purchase.</p>
            </div>
            <div class="card-action">
              <a href="http://tys1019.github.io/bobs_burger_app/" target="_blank">View Project</a>
              <a href="https://github.com/tys1019/bobs_burger_app">Github</a>
            </div>
          </div>
        </div>
      </div>

</section>






  <div id="email-form" class="modal" ng-controller="FormCtrl as formCtrl">
    <div class="modal-content container">
     <div class="row">
      <form class="col s12">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate" ng-model="formCtrl.email_params.first_name">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" ng-model="formCtrl.email_params.last_name">
            <label for="last_name">Last Name</label>
          </div>
        </div>
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" ng-model="formCtrl.email_params.email">
            <label for="email">Email</label>
          </div>

          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea validate" ng-model="formCtrl.email_params.email_body"></textarea>
            <label for="textarea1">Say something nice!</label>
          </div>
        <div class="modal-footer">
          <input type="submit" class="modal-action waves-effect waves-green btn-flat" ng-click="formCtrl.sendEmail()" value="Send" />
        </div>
      </form>
    </div>
    </div>
  </div>




